SHOPEE_ENV=test
SHOPEE_PARTNER_ID=1230054
SHOPEE_PARTNER_KEY=coloque_a_partner_key_aqui
SHOPEE_REDIRECT_URL=https://www.login.com.br/shopee/callback
SHOPEE_HOST=https://partner.test-stable.shopeemobile.com
SHOPEE_API_HOST=https://openplatform.sandbox.test-stable.shopee.sg
SHOPEE_AUTH_HOST=https://partner.test-stable.shopeemobile.com
FLASK_DEBUG=true
APP_TITLE=Portal Shopee Login
REVIEWER_USERNAME=shopee.review@login.com.br
REVIEWER_PASSWORD=Alterar123!
